*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainwrapper{
    width: 90%;
    padding: 10px;
    margin:10px auto;
    
}

.slidercontainer {
    /* background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    ); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #F5F6F9;

  }
  
  .slider {
    width: 100%;
    /* max-width: 600px; */
    height: 100%;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    background-color: #F5F6F9;
   
  }
  
  .slides {
    width: 100%;
    display: flex;
     /* overflow-x: hidden; */
    position: relative;
    /* scroll-behavior: smooth;
    scroll-snap-type: x mandatory; */
    background-color: #F5F6F9;
  }
  
  /* .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
   */
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }
  
 
  
  .slide a {
    background: none;
    border: none;
    
  } 
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  } 
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
   
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
  }
  
  .read-article{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    color: #000;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: arial;
    text-decoration: none;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px; 
  }

  .read-article:hover{
      background: #d5d5d5;
      box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
  }
  iframe[sandbox] .read-article{
    display: none;
  }

#catTitle{
    text-align: center;
    font-size:xx-large;
    color: brown;
    text-shadow: 2px 2px 2px black;
}
  .category{
     display: flex; 
     justify-content: space-evenly;
  
    width: 100%;
    padding: 5px;
    margin: 20px auto;

  }
  .productcat img{
    transition: all 1.1s;
   
  }

  

  
  .productcat p{
    text-align: center;
  
  }
  .productcat:hover img{
   
    cursor: pointer;
    transform: translate(0px , -30px) ;
  }
  .catname:hover img{
    transform: translate(0px , -30px) ;

  }
  .catname:hover{
    cursor: pointer;
  }
#banners{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto;
    height: 10.5rem;
}
.bannerform{
   
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.banner{
   
    width: 30%;
    height: 100%;
    transition: all 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .banner:hover{
  cursor: pointer;
 }
    

#banner-1{
    background-image: url(/images/banner/banner-1.png);
   
}
#banner-1:hover{
    background-image: url(/images/banner/banner-1.png);
    opacity: 0.8;
}
#banner-2{
    background-image: url(/images/banner/banner-2.jpg);
    
}
#banner-2:hover{
    background-image: url(/images/banner/banner-2.jpg);
    opacity: 0.8;
}
#banner-3{
    background-image: url(/images/banner/banner-3.png);
}
#banner-3:hover{
    background-image: url(/images/banner/banner-3.png);
    opacity: 0.8;
}
.whatbanner{
    padding-bottom: 1rem;
    color: grey;
}
.whatbanner:hover{
    cursor: pointer;
    color:#3797f7;
}

.explain{
    font-weight: bold;
    padding-bottom: 1rem;
}
.benefit{
    color: grey;
    
}
.benefit:hover{
    cursor: pointer;
    color:#3399FF;
}
.bannershop{
  border: none;
  background:none;
  color:#3399FF;
  font-weight: bolder;  
}
.bannershop:hover{
  color: white;
  background-color:#1775d2 ;
  border-radius:2rem ;
  padding: 0.4rem;
}


#newarrival,.trendingheader{
  display: flex;  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.trendingheader{
  margin: 1rem 4rem;
}
.leftheader{
  font-weight: bolder;
  font-size:larger;
}
.rightheader{
  margin-left: 10rem;
}
.trendingitem{
  margin: 1rem auto;
}
.arrivaltypeslist,.trendinglist{
  display: flex;
  list-style: none;
   margin-left:30rem;  
   /* float: right; */
}
.arrivaltypesitem ,.trendingitem{
  padding: 0.3rem;
 justify-content: space-between;
  color: gray;
  font-size: medium;
 
  /* float: right; */
  
}
.arrivaltypesitem:hover{
  cursor: pointer;
  color:#3797f7;
  

}
.trendingitem:hover{
  cursor: pointer;
  color:#3797f7;

}
.arrivalproduct,.trending,.recgroup1,.recgroup2{
 
  display: flex;
  justify-content: space-evenly;
  height: 20rem;
  margin: 1rem;
}

.product{ 
  width: 15%;
  height: 100%;
}
.product:hover{
  cursor: pointer;
}


.product:hover .middlepart {
  clear: both;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(195, 189, 189);
  /* margin-top:70%; */
  width: 100%;
  /* height: 100%; */
  padding: 5px;

}
.carticon  :hover{
  background-color: #3399FF;
  
}
.heart :hover{
  background-color: #3399FF;
}

.new,.top,.sale{
  float: left;
}

.note{
  margin: 25px;
 
  
  
}
.middlepart{
  clear: both;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 252, 252);
  margin-top:80%;
  width: 100%;
  /* height: 100%; */
  display: none;
}
.toppart{
  height: 60%;
  border: 1px solid white;

}
.toppart>.new{

padding: 0.5rem;
border-radius: 50%;
color: white;
background-color: #A6C76C;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.toppart>.top{

  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  background-color: #7DD2EA;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .toppart>.sale{

    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: #EF837B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    
    #product-1{
      background-image: url(/images/product/product-1.jpg);
      background-repeat: no-repeat;

    }
 
     #product-2{
      background-image: url(/images/product/product-2.jpg);
      background-repeat: no-repeat;

    }
    
    #product-3{
      background-image: url(/images/product/product-3.jpg);
      background-repeat: no-repeat;
    
      
    }

    #product-4{
      background-image: url(/images/product/product-4.jpg);
      background-repeat: no-repeat;
    
      
    }

    #product-5{
      background-image: url(/images/product/product-5.jpg);
      background-repeat: no-repeat;
    
      
    }

    #product-6{
      background-image: url(/images/product/product-6.jpg);
      background-repeat: no-repeat;
     
      
    }

    .lastpart{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 0.5rem;
    }
    .namecat{
      color: rgb(200, 196, 196);
      padding: 0.3rem;
    }
    .namecat:hover{
      color: rgb(94, 90, 90);

    }
    .namepro:hover{
      color: #3797f7;

    }
    .priceyello{
      color:#df9311;
      font-weight: bold;
      padding: 0.5rem;
    }
    .pricered{
      color:#ed2323ad;
      font-weight: bold;
      padding: 0.5rem;

    }
    .oldprice{
      color:#585454ad;
      padding: 0.5rem;
      font-size:small;


    }
    
  #fixed{
    background-image: url(/images/banner/banner-4.jpg);
    background-position:center ;
    background-size: 95%;
  }
  #product-8{
    background-image: url(/images/product/product-8.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;

  }
  #product-8:hover{
    background-image: url(/images/category/6.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 50%;

  }
  #product-9{
    background-image: url(/images/product/product-9.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;

  }
  #product-10{
    background-image: url(/images/product/product-10.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;

  }
  #product-11{
    background-image: url(/images/product/product-11.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;

  }

  #product-12{
    background-image: url(/images/product/product-12.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;

  }
  #product-12:hover{
    background-image: url(/images/product/product-12-2.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 95%;
  }
  .central{
    background-image: url(/images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    width: 90%;
    height: 100%;
   margin: 2rem auto;
   display: flex;

  }
  .centralform{
    display: flex;
    padding: 3rem;
    margin-left: 20rem;
  }
  .centralp{
    color: white;
    font-family: Verdana;
  }
  .centralbutton{
  border: none;
  background:none;
  color:#3399FF;
  font-weight: bolder;  
  padding:0rem  1rem;
  margin: 1rem auto;
  }
  .centralbutton:hover{
    cursor: pointer;
    color: white;
    background-color:#1775d2 ;
    border-radius:2rem ;
    padding:0rem  1rem;
    margin: 1rem auto;
  }
  
  .centralspan{
    padding-top:1rem;
    font-weight: bolder;
  }
.recommend{
  padding: 1rem;
  margin: 2rem auto;
}
.recheader{
  margin: 1rem 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.recomheader{
  font-weight: bold;
  font-size: larger;
}

#product-13{
  background-image: url(/images/product/product-13.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-14{
  background-image: url(/images/product/product-14.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;
}
#product-15{
  background-image: url(/images/product/product-15.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-16{
  background-image: url(/images/product/product-16.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-17{
  background-image: url(/images/product/product-17.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-18{
  background-image: url(/images/product/product-8.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-18:hover{
  background-image: url(/images/category/6.png);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 50%;

}
#product-19{
  background-image: url(/images/product/product-10.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-22{
  background-image: url(/images/product/product-11.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}

#product-21{
  background-image: url(/images/product/product-9.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}


#product-20{
  background-image: url(/images/product/product-12.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;

}
#product-20:hover{
  background-image: url(/images/product/product-12-2.jpg);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: 95%;
}

.policy{
  display: flex;
  justify-content:space-evenly ;
  padding: 2rem;
}
.itemicon{
  padding-right: 1rem ;
  margin: 0.6rem auto ; 
 
   
}
.po{
  display: flex;
  padding: 1rem;
}
.itemcaption{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
 
}

.itemcption1{
  font-weight: bold;
}
.itemcption2{
  color: dimgray;
}

.attension{
  text-align: center;
  background-image: url(/images/bg-5.jpg);
}
.attensionform{
  margin: 1rem auto ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.atten1{
  padding: 0.5rem;
  font-size: large;
  font-weight: bold;
  color:white;
  
}
.atten2{
  padding: 0.5rem;
  font-size: large;
  color:white;
  
}
.atteninput{
  width:50%;
  padding: 0.5rem;
  margin: 1rem auto;
  border-radius: 5rem;

}
.attenbutton{
  color:  white;
  background:none;
  border: none;
  margin: 1rem 1rem;
  font-size: larger;
  padding:0.4rem 1rem;
}
.attenbutton:hover{
  color: white;
  background-color:rgb(27, 102, 231);
  border-radius: 5rem;
}


