.cartbody{
   
    width: 80%;
    margin: 1rem auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.products{
    width: 70%;
    margin: 2rem auto;
}

table{
    width: 100%;
   
}
.product{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
 .productpic{
    float: left;
} 
.productname:hover{
    cursor: pointer;
    color: rgb(184, 90, 61);
}

th{
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: rgb(127, 121, 121);
    border-bottom: 1px solid rgb(217, 211, 211);
    font-weight: lighter;
}
td{
    border-bottom: 1px solid rgb(217, 211, 211);
}
.qu{
    display: flex;
    width: 60%;
    justify-content: space-between;
    border: 1px solid;
    padding: 0.5rem;
}
.productth{
    padding-right: 15rem;
}
.in{
    color:rgb(82, 206, 82);
}
.out{
    color: rgb(216, 44, 84);
}
.remove{
    color: rgb(187, 179, 179);
    margin-left: 2rem;
    padding: 2rem;

}
.remove:hover{
    cursor: pointer;
    color: rgb(39, 37, 37);
}
select{
    appearance: none;
    padding: 0.5rem 1rem;
    color:rgb(179, 131, 117) ;
    border: 1px solid rgb(179, 136, 122);
    width: 100%;
}
.btn{
    border:  1px solid rgb(179, 136, 122);
    padding: 0.5rem 1rem;
    width: 100%;
  

}
select:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(172, 126, 111);
}
select::before{
    content: " &#9776; ";
}
.option{
    background-color:white;
    color: rgb(14, 11, 8);
}

/* .option:hover{
    cursor: pointer;
    background-color:rgb(172, 126, 111);
    color:white;
    font-size: large;
} */

.addtocartbtn{
    border:  1px solid rgb(179, 136, 122);
    padding: 0.5rem 1rem;
    color:rgb(179, 131, 117) ;
    width: 100%;
}
.addtocartbtn:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(172, 126, 111);
}
.disbtn{
    color: rgb(192, 189, 189);
    background-color: rgb(252, 252, 252);
    text-align: center;
    font-size: small;
    border: 1px solid   rgb(192, 189, 189);
}